body{
    margin: 0;  /*para que no tenga borde*/
}

header{
    display: flex; 
    flex-direction: column-reverse;
    height: 800px; 
    width: 1280px;
    margin: 0px;
    background-color: #000000;
    align-items: center;
    
}


.iguana{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 530px;
    margin-right: 529px;
    display: flex;
    color: #ffffff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size:50px ;
    font-weight: medium;
    font: normal normal medium 50px/59px Raleway;
}

.iguana img{
    margin-bottom: 73px;
    height: 727px;
    width: 1280px; 
    margin-top: 7px;
}

div{  /*medidas del fondo*/
    display: flex;
    flex-direction: column-reverse;
    height: 348px; 
    width: 1280px;
    margin: 0px;
    background-color: #000000;
    align-items: center;
    margin: 0px;
 
}

.iguana-1 img{
    display:flex;
    margin-left: 731px;
    margin-top: 45px;
    margin-bottom: 66px;
    margin-right:150px;
    height:237px;
    width: 399px;
}

.text{
    display:flex;
    margin-left: 150px;
    margin-top: 75px;
    margin-bottom: -272px;
    margin-right:655px;
    height:197px;
    width: 475px; 
    color: #ffffff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 300 16px/19px Raleway;
    font-weight: lighter;

}

.emoji{
    display: flex;
    flex-direction: column;
    height: 348px; 
    width: 1280px;
    background-color: #1E1A13;
    opacity: 0.98;
 
}

.text1{
    display:flex;
    color: #ffffff;
    margin-bottom: 75px ;
    height: 47px;
    margin-top:75px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 1 47px/40px Raleway;
    font-weight: lighter;

}

.emoji ul li{
    display:inline-block;
    margin: 0 118.705px;
    color:  #ffffff; 
    text-align: center; 
}

.emoji ul li a{
    display:block;
    margin-top: -119.36px;
    color:white;
    text-align: left;
    font: normal normal 1 57px/36.64px Raleway;
    font-weight: lighter;

}

.text2{
    display:flex;
    margin:0;
    color: #ffffff;
    margin-top: -103px;
    margin-left: 301px;
    margin-right: 871px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 300 24px/108px Raleway;
    font-weight: lighter;
}

.text3{
    display:flex;
    margin:0;
    color: #ffffff;
    margin-top: -103px;
    margin-left: 591px;
    margin-right: 591px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 300 24px/108px Raleway;
    font-weight: lighter;
}

.text4{
    display:flex;
    color: #ffffff;
    margin:0;
    margin-top: -103px;
    margin-left: 834.88px;
    margin-right: 243.12px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 300 24px/108px Raleway;
    font-weight: lighter;
}

.iguanitas{
    margin-top: 73px;
    margin-bottom: 73px;
    margin-left: 8px;
    margin-right: 8px;
    height: 202px;
    width: 316px;

}
.iguanas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 348px; 
    width: 1280px;
    background-color: black;

}

.pie{
    display: flex;
    height: 102px; 
    width: 1280px;
    background-color: #1E1A13;
    opacity: 0.98;

}

.fin-pagina{
    display:flex;
    color: #ffffff;
    margin:0;
    margin-top: 39px;
    margin-left: 299px;
    margin-right:299px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font: normal normal 300 20px/108px Raleway;
    font-weight: lighter;
}




